.dnd-image-container {
  border: 1px solid #d9d9d9;
  padding: 0.5rem 1rem;
  backgroundColor: white;
  cursor: move;
  width: 100%;

}

.dnd-margin {
  margin: .25rem;
}

.dnd-image {
  width: 100%;
}