.drop-over-right {
  border-right: 1px dashed #1890ff;
}

.drop-over-left {
  border-left: 1px dashed #1890ff;
}

.fit-to-icons-container {
  margin: 0.25rem 0;
}

.ant-upload-picture-card-wrapper {
  min-height: 9rem;
}

.fit-to-selected {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background-color: #fff;
  color: #096dd9;
  border-color: #096dd9;
}

.ant-upload-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: visible;
}

.scroll-x {
  overflow-x: auto;
}

.ant-upload-list-picture-card-container {
  flex-shrink: 0;
  height: 104px;
}

.big-image-height .ant-upload-list-picture-card-container {
  flex-shrink: 0;
  height: 100%;
}

.custom-upload-button {
  min-width: 5.5rem;
  min-height: 3.5rem;
}

//do not remove. used for focusing purposes on form validation fail
.ant-upload-select-picture-card input {
  display: block !important;
  width: 0;
}
