.drop-over-right {
  border-right: 1px dashed #1890ff;
}

.drop-over-left {
  border-left: 1px dashed #1890ff;
}

.fit-to-icons-container {
  margin: 0.25rem 0.75rem;
}

.ant-upload-picture-card-wrapper {
  height: 7.7rem;
}

.fit-to-selected {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background-color: #fff;
  color: #096dd9;
  border-color: #096dd9;
}
