.drop-over-right {
  border-right: 1px dashed #1890ff;
}

.drop-over-left {
  border-left: 1px dashed #1890ff;
}

.fit-to-icons-container {
  margin: 0.25rem 0;
}

.ant-upload.ant-upload-select-picture-card {
  position: relative;
  top: -86px;
  transform: scale(1.087);
}

.ant-upload-picture-card-wrapper {
  min-height: 7.7rem;
}

.ant-upload-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: baseline;
  position: relative;
  left: 0px;
  transform: scale(0.92);
}

.fit-to-selected {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background-color: #fff;
  color: #096dd9;
  border-color: #096dd9;
}

.img-upload-div {
  width: 1150px;
}
