@import '~antd/dist/antd.css';

.ant-input-number,
.ant-picker {
  width: 100%;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.scroll-message {
  text-align: center;
  margin-top: 16px;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.selected-row {
  background-color: #fafafa;
}

.success-button {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;

  &:hover {
    color: #fff;
    background-color: #37934b;
    border-color: #348a48;
  }
}