@import '~antd/dist/antd.css';

.ant-input-number,
.ant-picker {
  width: 100%;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.scroll-message {
  text-align: center;
  margin-top: 16px;
}

.ant-tabs-mobile {
  margin: 0 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-03 {
  margin-top: 0.3rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-n1 {
  margin-top: -1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-n1 {
  margin-bottom: -1rem;
}

.selected-row {
  background-color: #fafafa;
}

.success-button {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;

  &:hover {
    color: #fff;
    background-color: #37934b;
    border-color: #348a48;
  }
}

.active-masthead-border {
  padding: 8px;
  width: 104px;
  height: 104px;
  border: 1px solid #d9d9d9;
}

.active-masthead {
  max-height: 88px;
  max-width: 88px;
}

.card-content {
  text-align: center;
}

.ant-statistic {
  display: flex;
  flex-direction: column-reverse;
}

.ant-statistic-title {
  margin: 15px 0 0 0;
  align-self: flex-start;
}

.dashboard-items {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.dashboard-items hr {
  color: rgba(0, 0, 0, 0.45);
}

.info-block {
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  display: inline-block;
  height: 32px;
}

.ant-layout-sider-children {
  position: fixed;
  overflow: auto;
  height: 90vh;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #001529;
  height: calc();
}

.ant-layout-header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
  top: 0px;
}

.batch-process {
  background: #fafafa;
  height: 90%;
}

.requests {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.json-container {
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.sticky-filter-box {
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 64px;
  background: white;
  padding: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 3.4px;
  z-index: 2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fafafaa3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-layout-sider-zero-width-trigger {
  display: none;
}

.ant-typography {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-collapse {
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #d9d9d9;
  background: #fff;
}

.sider-arrow {
  background: #fafafa;
  z-index: 1;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -1px;
  left: 0px;
  width: 52px;
  height: 40px;
}

.ant-menu-dark .ant-menu-item-disabled.test-mode-banner {
  background: orange;
  color: #373737 !important;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

@media (max-width: 992px) {
  .ant-layout-sider-children {
    width: 50px;
    top: 64px;

    @media screen and (max-height: 449px) {
      height: 85vh;
    }

    @media screen and (min-height: 450px) and (max-height: 549px) {
      height: 89vh;
    }

    @media screen and (min-height: 550px) and (max-height: 649px) {
      height: 91vh;
    }

    @media screen and (min-height: 650px) and (max-height: 749px) {
      height: 92vh;
    }

    @media screen and (min-height: 750px) and (max-height: 849px) {
      height: 93vh;
    }

    @media screen and (min-height: 850px) and (max-height: 949px) {
      height: 94vh;
    }

    @media screen and (min-height: 950px) and (max-height: 1049px) {
      height: 95vh;
    }

    @media screen and (min-height: 1050px) {
      height: 96vh;
    }
  }

  .site-layout-background {
    margin: 24px 16px;
    padding: 5px;
  }

  .sider-container {
    background: #001529;
    width: 52px;
  }

  .hidden-on-mobile {
    display: none;
  }

  .ant-page-header {
    padding: 16px 14px;
    white-space: normal;
    overflow-wrap: normal;
  }

  .ant-page-header-heading-title {
    white-space: normal;
    overflow-wrap: normal;
  }

  .ant-layout-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 992px) {
  .site-layout-background {
    margin: 24px 16px;
    padding: 24px;
  }

  .sider-container {
    background: #001529;
    width: 200px;
  }
}

@media screen and (min-height: 700px) {
  .ant-menu.ant-menu-inline-collapsed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
