@import '~antd/dist/antd.css';

.ant-input-number,
.ant-picker {
  width: 100%;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.scroll-message {
  text-align: center;
  margin-top: 16px;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-n1 {
  margin-bottom: -1rem;
}

.selected-row {
  background-color: #fafafa;
}

.success-button {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;

  &:hover {
    color: #fff;
    background-color: #37934b;
    border-color: #348a48;
  }
}

.active-masthead-border {
  padding: 8px;
  width: 104px;
  height: 104px;
  border: 1px solid #d9d9d9;
}

.active-masthead {
  max-height: 88px;
  max-width: 88px;
}

.card-content {
  text-align: center;
}

.ant-statistic {
  display: flex;
  flex-direction: column-reverse;
}

.ant-statistic-title {
  margin: 15px 0 0 0;
  align-self: flex-start;
}

.dashboard-items {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.dashboard-items hr {
  color: rgba(0, 0, 0, 0.45);
}

.info-block {
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  display: inline-block;
  height: 32px;
}

.ant-layout-sider-children {
  position: fixed;
  overflow: auto;
  height: 90vh;
  left: 0;
  top: 64px;
  bottom: 0;
  width: 200px;
}

.ant-layout-header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
  top: 0px;
}

.batch-process {
  background: #fafafa;
  height: 90%;
}

.requests {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.json-container {
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.sticky-filter-box {
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 64px;
  background: white;
  padding: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 3.4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fafafaa3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-layout-sider-zero-width-trigger {
  display: none;
}

.ant-typography {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .ant-layout-sider-children {
    width: 50px;
  }

  .site-layout-background {
    margin: 24px 16px 24px 66px;
    padding: 5px;
  }

  .hidden-on-mobile {
    display: none;
  }

  .ant-page-header {
    padding: 16px 14px;
    white-space: normal;
    overflow-wrap: normal;
  }
}

@media (min-width: 769px) {
  .site-layout-background {
    margin: 24px 16px;
    padding: 24px;
  }
}
